@font-face {
    font-family: "Lavanderia";
    src: url("../fonts/lavanderia-regular.otf");
}

@font-face {
    font-family: "Segoe UI";
    src: url("../fonts/SegoeUIRegular.ttf");
}

@font-face {
    font-family: "Univers LT";
    src: url("../fonts/universltstd-light.otf");
}

@font-face {
    font-family: "Alte Haas Grotesk";
    src: url("../fonts/alte-haas-grotesk-bold.ttf");
}